.buttonImage{
    -fx-cursor: hand;
    -fx-background-color: derive(-fx-base,40%);
    -fx-border-color: derive(-fx-base, -10%);
    -fx-focus-color: #039ed3 ;
    -fx-faint-focus-color:#039ed3;
    -fx-border-width: 2px;
    -fx-border-radius: 2px;
    -fx-max-width:200px;
}
.buttonImage:focused{
    -fx-border-color: #039ed3;
    -fx-border-radius: 2px;
    -fx-border-width: 2px;
}
.segoeUIBold{
    -fx-font-weight:bold;
}
.segoeUI{
    -fx-font-family:"Segoe UI";
}
.canvasProperty{
    -fx-cursor: crosshair;
}
.canvasPropertyPane{
    -fx-background-color: white;
    -fx-border-color: #14a2ff;
    -fx-border-width: 1.5px;
}
.defaultFont{
    -fx-font-family: "Segoe UI";
}
.defaultFontBold{
    -fx-font-family: "Segoe UI Bold";
}
.h1Bold{
    -fx-font-size: 35;
    -fx-font-family: "Segoe UI Bold";
}
.h2Bold{
    -fx-font-size: 14;
    -fx-font-family: "Segoe UI Bold";
}
.h3Bold{
    -fx-font-size: 12;
    -fx-font-family: "Segoe UI Bold";
}
.h3{
    -fx-font-size: 12;
    -fx-font-family: "Segoe UI";
}
.defaultButton{
    -fx-min-width: 80;
    -fx-max-width: 200;
}
.defaultButton:hover{
    -fx-cursor: hand;
}
.choice-box{
    -fx-pref-width: 250;
}
.choice-box .context-menu {
    -fx-pref-width: 250;
}
.whiteBackground{
    -fx-background-color:derive(-fx-base,80%);
}
