*{
    //MODALITA' DEFAULT
    //-fx-default-background: #eeeeee;
    //-fx-default-text-fill: black;

    //MODALITA' DARK MODE
    //BASE
    -fx-base: #272e33;
    //TESTO SELEZIONATO
    -fx-accent: #7d858d;
    -fx-default-button: #7f878f;
    -fx-focus-color: #e4e4e4;
    -fx-faint-focus-color: #efefef22;

    -fx-lighter-theme-color: #6c777e;
}
.segoeUIBold{
    -fx-font-family:"Segoe UI Bold";
}
.segoeUIItalic {
    -fx-font-family:"Segoe UI Italic";
}
.segoeUI{
    -fx-font-family:"Segoe UI";
}
.canvasProperty{
    -fx-cursor: crosshair;
}
.canvasPropertyPane{
    -fx-background-color: white;
    -fx-border-color: #14a2ff;
    -fx-border-width: 1.5px;
}
.defaultFont{
    -fx-font-family: "Segoe UI";
}
.defaultFontBold{
    -fx-font-family: "Segoe UI Bold";
}

.h1Bold{
    -fx-font-size: 35;
    -fx-font-family: "Segoe UI Bold";
}
.h2Bold{
    -fx-font-size: 14;
    -fx-font-family: "Segoe UI Bold";
}
.h3Bold{
    -fx-font-size: 12;
    -fx-font-family: "Segoe UI Bold";
}
.h3{
    -fx-font-size: 12;
    -fx-font-family: "Segoe UI";
}
.defaultButton{
    -fx-min-width: 80;
    -fx-max-width: 120;
}
.defaultButton:hover{
    -fx-cursor: hand;
}
.choice-box{
    -fx-pref-width: 250;
}
.choice-box .context-menu {
    -fx-pref-width: 250;
}
.whiteBackground{
    -fx-base: -fx-lighter-theme-color;
    -fx-background-color:-fx-lighter-theme-color ;
    -fx-text-fill: grey;
}
.buttonImage{
    -fx-background-color: -fx-default-button;
    -fx-cursor: hand;
}